---
import Hamburger from './hamburger.astro';
import Navigation from './navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
  <nav>
    <Hamburger/>
    <ThemeIcon/>
    <Navigation/>
  </nav>
</header>