---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header/>
		<h1>{pageTitle}</h1>
		<slot/>
		<Footer/>
    <script>
      import "../scripts/menu.js";
    </script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
